<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FCOM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p style="text-align: center;">
      <img alt="Silhouette of mountains" src="assets/fcom-removebg-preview.png" width="200px" />
    </p>
    <video controls>
      <source src="assets/videoplayback.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <ion-card-header>
      <ion-card-title>FCOM</ion-card-title>
      <ion-card-subtitle>Faculty of Computing and Multimedia</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img alt="Silhouette of mountains" src="assets/21.jpg" /><br>
      The faculty offers a major in Computer Science and Mathematics. The major programmes offer flexibility to support
      both students who choose to pursue advanced study in their field, and students who seek to gain expertise in our
      disciplines. <br><br>
      At the graduate level, we offer several courses that support PhD and M.A. programmes in other faculties. Courses
      at the graduate level are augmented with active research seminars and independent research programme planned in
      consultation with a faculty advisor. <br><br>
      The faculty also is active in research in the fundamentals of computer science, networking, web api development,
      artificial intelligence, human-computer interaction and software systems engineering. Our faculty regularly
      publishes peer-reviewed academic journals and earn support for their research through external funding.
    </ion-card-content>
  </ion-card>
</ion-content>