<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
      <ion-card-subtitle>Universiti Poly-Tech Malaysia</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img alt="Silhouette of mountains" src="assets/TAHNIAH-UPTM3.jpg" /><br>
      <img alt="Silhouette of mountains" src="assets/VC_UPTM2.png" /><br>
      <strong>Universiti Poly-Tech Malaysia (UPTM) </strong>formerly known as Kolej Universiti Poly-Tech MARA (KUPTM) Kuala Lumpur is a
      higher education institution located in the capital city of Malaysia. We provide a warm and caring environment
      with quality education and recognized academic standing. We are committed to cultivate excellence in a conducive
      teaching and learning environment and provide an ideal place for your next step on your path of lifelong learning.
      <br><br>
      With the future in mind, even from today, at the beginning of your journey with us, we would love to remind you
      that a student's journey does not stop upon your graduation. In life, you will face new challenges as you enter
      the society, either as an industrious professional working in the employment field or as an entrepreneur competing
      in the business sector. So, throughout your studies here, always seek for opportunities to add value to your soft
      skills. Seize every opportunities to participate and be active in various co-curricular activities, especially the
      ones that would build up your leadership, so that you will be a wholesome person.
    </ion-card-content>
  </ion-card>
</ion-content>