<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact US</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/aerial.jpg" alt="KUPTM">
      Universiti Poly-Tech Malaysia (DU060 (W))
      Jalan 6/91, Taman Shamelin Perkasa
      56100 Cheras, Kuala Lumpur <br><br>
      General Line : +603 9206 9700 (General Line)
      Tel : +603 92837186 (Marketing)
      Fax : +603 92810475
      E-mail : marketingkl@kuptm.edu.my <br><br>
      Please be informed that this email is meant for our marketing team to communicate with our potential students. We
      are not responsible to respond to email which is not related to the above matter. Kindly refer to email directory
      for related department /personnel. Thank you.
      <br><br>
      <div style="max-width:100%;overflow:hidden;color:red;width:100%;height:500px;">
        <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe
            style="height:100%;width:100%;border:0;" frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?q=Universiti+Poly-Tech+Malaysia,+Jalan+6/91,+Taman+Shamelin+Perkasa,+Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur,+Malaysia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
        </div><a class="googlecoder" href="https://www.bootstrapskins.com/themes" id="grab-map-authorization">premium
          bootstrap themes</a>
        <style>
          #gmap-canvas img {
            width: 100%;
            font-size: inherit;
            font-weight: inherit;
          }
        </style>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>