<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>FBASS</ion-card-title>
      <ion-card-subtitle>Faculty of Business, Accountancy and Social Sciences</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Diploma Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Diploma of Accountancy</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Diploma In Corporate Communication</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Foundation Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Foundation in Commerce</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Degree Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Bachelor of Accountancy (Honours)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Business Administration (Honours) Human Resource Management</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Business Administration (Honours)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Corporate Administration (Honours)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Communication (Honours) in Corporate Communication</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>FCOM</ion-card-title>
      <ion-card-subtitle>Faculty of Computing and Multimedia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Diploma Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Diploma in Computer Science</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Degree Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Bachelor of Information Technology (Honours) in Cyber Security</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Information Technology (Honours) in Business Computing</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Arts in 3D Animation and Digital Media (Hons)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Information Technology (Honours) in Computer Application Development</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>FEHA</ion-card-title>
      <ion-card-subtitle>Faculty of Education, Humanities and Arts</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Diploma Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Diploma in Teaching of English As A Second Language (TESL)</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Degree Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Bachelor of Arts (Hons) in Applied English Language Studies</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Early Childhood Education (Honours)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bachelor of Education (Honours) in Teaching English As A Second Language (TESL)</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Postgraduate Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Postgraduate Diploma in Education/ Diploma Pascasiswazah Pendidikan</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>IGS</ion-card-title>
      <ion-card-subtitle>Institute of Graduate Studies</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Academic Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Master of Business Administration</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Master of Accountancy - CIMA (Chartered Institute of Management Accountants)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>PhD in Business Administration</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>MBA (Corporate Administration and Governance)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>MSc. In Information System</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>PhD in Information Technology</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>IPS</ion-card-title>
      <ion-card-subtitle>Institute of Professional Studies</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Academic Programme</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Association of Chartered Certified Accountants (ACCA) Professional Qualification</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ACCA Foundation in Accountancy (AFIA)</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>