<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Promotion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Promotions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/POSTER_TIK_TOK_20_TAHUN_KPTM-1.png" alt="Promotion list">
          </ion-col>
          <ion-col>
            <img src="assets/PERATURAN_TIKTOK_FINALIZE-2.png" alt="Promotion list">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/HebahanYuran1.png" alt="Promotion list">
          </ion-col>
          <ion-col>
            <img src="assets/library.png" alt="Promotion list">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>